body {
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}
  
  .topnav {
    overflow: hidden;
    background-color: #302f34;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #cacaca;
    color: black;
  }
  
  .topnav a.active {
    background-color: #276fff;
    color: white;
  }
  
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: dodgerBlue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #7a7a7a;
  }
  
  .button:hover { 
    background-color: lightskyblue;
    box-shadow: 0 9px #7a7a7a;
  }

  
  .button:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .topnav a.right {
    float: right;
  }

.topnav needed {
  visibility: hidden;
}

.box {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: dodgerBlue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px #757575;
}

.searchbox {
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: rgb(44, 149, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #656565;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(61, 61, 61);
  color: white;
}

.notallowed {
  cursor: not-allowed;
}